<!-- IF S_SHOW_PM_BOX -->

    <script type="text/javascript" >

        var U_NEWPMAJAX_PATH_ADD_TO = '{U_NEWPMAJAX_PATH_ADD_TO}';
        var U_NEWPMAJAX_PATH_ADD_BCC = '{U_NEWPMAJAX_PATH_ADD_BCC}';
        var LA_RECIPIENTS = '{L_RECIPIENTS}';
        var LA_BCC = '{L_BCC}';
    </script>

    <!-- INCLUDEJS @alg_newpmajax/./../ext/alg/newpmajax/vendor/jquery.noty.js -->
    <!-- INCLUDEJS @alg_newpmajax/./../ext/alg/newpmajax/vendor/topRight.js -->
    <!-- INCLUDEJS @alg_newpmajax/newpmajax.js -->

<!-- ENDIF -->


 
