<!-- IF S_SHOW_PM_BOX -->

    <script type="text/javascript" >

        var U_NEWPMAJAX_PATH = '{U_NEWPMAJAX_PATH}';
        var L_RECIPIENTS = '{L_RECIPIENTS}';
        var L_BCC = '{L_BCC}';
    </script>
    <script type="text/javascript" >
        (function ($) {
            if (typeof ($.noty) !== 'object') {
                $.getScript('./ext/alg/newpmajax/styles/all/template/jquery.noty.js', function () {
                    $.getScript('./ext/alg/newpmajax/styles/all/template/default.js');
                    $.getScript('./ext/alg/newpmajax/styles/all/template/topRight.js');
                });
            }
            else {
                if (typeof ($.noty.themes.defaultTheme) !== 'object') {
                    $.getScript('./ext/alg/newpmajax/styles/all/template/default.js');
                }
                if (typeof ($.$.noty.layouts.topRight) !== 'object') {
                    $.getScript('./ext/alg/newpmajax/styles/all/template/topRight.js');
                }
            }
        })(jQuery);                                    // Avoid conflicts with other libraries

    </script>

    <!-- INCLUDEJS newpmajax.js -->

<!-- ENDIF -->


 
